body{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffdbcd;
}
.ahhh{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerButtons{
    background-color: #e72416;
    width: 24%;
    margin: 1%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);}
.containerData{
    background-color: #e72416;
    width: 74%;
    margin: 1%;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
}


.tftable {
    font-size:12px;
    color:#333333;
    width:100%;border-width: 1px;
    border-color: #a9a9a9;
    border-collapse: collapse;
}

.tftable th {
    color: white;
    font-size:18px;
    background-color:#ba000d;
    border-width: 1px;
    padding: 8px;
    border: #000000 solid 2px;
    text-align:left; 
    text-align: center;
}

.tftable tr {
    background-color: #fd6347; 
    text-align: center;
}

.tftable td {
    font-size:16px;border-width: 1px;
    padding: 8px;
    border: #303030 solid 2px;

    color: rgb(0, 0, 0);
    text-align: center;
}

.tftable tr:hover {
    background-color:#ffff99;
}

.title {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 65px;
    margin-bottom: 0;
    text-align: center;
}